<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ZhidaoInfoDao">

    <select id="findByName" resultType="com.example.vo.ZhidaoInfoVo">
        select `zhidao_info`.* from `zhidao_info`

        where 1 = 1
        <if test="name != null and name != '' and name != 'all'">
            and `zhidao_info`.`name` like concat('%', #{name}, '%')
        </if>
        order by `zhidao_info`.id desc
    </select>

    <select id="findVoById" resultType="com.example.vo.ZhidaoInfoVo">
        select `zhidao_info`.* from `zhidao_info`

        where `zhidao_info`.id = #{id}
    </select>


</mapper>